.detailas_product {
    background-color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}

.img_product_details {
    width: 50%;
}

.img_details {
    width: 100%;
    height: 99%;
    border-radius: 10px;
    cursor: pointer;
}

.video_details_main{
    width: 100%;
    height: 99%;
    border-radius: 10px;
    cursor: pointer;
}

.select_size {
    width: 15%;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #d1d1d1;
}



.img_scroll {
    width: 20%;
    position: relative;
    margin-right: 10px;
}

.img_scroll img {
    width: 100%;
    height: 24%;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-right: 20px;

}

.video_details {
    height: 23% !important;
    width: 100% !important;
    border-radius: 10px;

}


.content_details_product {
    display: flex;

}

.desc_product_details {
    width: 50%;
    font-size: 20px;
}


.sale_product_details {
    border: 1px solid #fb7701;
    color: #fb7701;
    padding: 2px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.desc_product_details p:nth-child(1) {
    line-height: 30px;
}

.desc_product_details p:nth-child(3) {
    border: 1px solid black;
    padding: 10px;
    position: relative;
    font-size: 17px;
}

.desc_product_details p:nth-child(3)::after {
    content: "";
    position: absolute;
    border-top: 1px solid black;
    border-left: 1px solid black;
    background-color: white;
    height: 15px;
    width: 15px;
    top: -8px;
    left: 50%;
    transform: scale(1.5) rotate(45deg);
    z-index: 111;
}

.decsc_icon {
    position: relative;
    background-color: #feefe1;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.decsc_icon p {
    margin-top: 7px;
}


.decsc_icon i {
    color: green;
    margin-right: 10px;
}

.klarn {
    background-color: #fbb4c9;
    border-radius: 5px;
    padding: 3px;
    font-weight: bolder;
    z-index: 1111111;
}

.icon_start {
    color: black;
}

.btn_product_details {

    background-color: #fb7701;
    color: white;
    padding: 25px;
    width: 70%;
    border: none;
    margin-top: 20px;
    border-radius: 50px;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    transition: 0.3s linear;
}

.btn_product_details:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.color_product {
    border-radius: 5px;
    border: 3px solid #fb7701;
    border-radius: 7px;
}



@media(min-width:320px) and (max-width:767px) {
    .content_details_product {
        flex-direction: column;
    }

    .content_details_product img {
        width: 100%;
    }



    .img_details {
        order: 1;
        width: 10%;
    }

    .img_product_details {
        flex-direction: column;
        margin: auto;
        width: 50%;

    }


    .img_scroll {
        display: flex;
        order: 2;
        width: 29%;
    
        margin-top: 10px;
    }


.img_scroll img{
    margin-right: 0px;

}
    .desc_product_details {
        width: 80%;
        position: relative;
        left: 0;
        font-size: 15px;
    }

    .span_salary {
        font-size: 12px;
    }

    .desc_product_details p:nth-child(1) {
        font-size: 13px;
    }

    .desc_product_details p:nth-child(3) {
        font-size: 13px;
        line-height: 30px;
    }


 
}








@media(min-width:767px) and (max-width:1200px) {

    .img_product_details {
        flex-direction: column;
        margin-top: 50px;
    }


    .img_scroll {
        display: flex;
        order: 2;
        width: 70%;
        margin-left: 5px;
        margin-top: 10px;
    }

    .span_salary {
        font-size: 17px;
    }

    .desc_product_details p:nth-child(1) {
        font-size: 17px;
        line-height: 25px;
    }

    .desc_product_details p:nth-child(3) {
        font-size: 17px;
        line-height: 30px;
    }


}


@media(min-width:1200px) and (max-width:1400px) {
    .container_img_details img {
        height: 100%;
    }
}

@media(min-width:1400px) and (max-width:1607px) {
    .container_img_details img {
        height: 100%;
    }

    .desc_product_details p:nth-child(1) {
        line-height: 35px;
    }

    .desc_product_details p:nth-child(3) {
        padding: 20px;
    }
}