
.content_shopping_cart {
    border-radius: 10px;
    background-image: url('../../../../assets/imges/5ae4a0c1-285b-4149-80fa-890aff2ae8ca.webp');
    background-repeat: no-repeat;
    background-size: contain;

}


