<ul class="d-flex justify-content-between p-2 list_header_one m-0">
    <li class="d-flex align-items-center">
       <div>
           <i class="fa-solid fa-truck p-2" ></i>
       </div>
       <div>
           <div>
               <p class="p-0 m-0">Free Shipping</p>
               <p class="p-0 m-0">Special for you</p>
           </div>
       </div>

   </li>

   <li class="d-flex align-items-center">
       <div>
           <i class="fa-solid fa-truck p-2"></i>
       </div>
       <div>
           <p class="p-0 m-0">Free Shipping</p>
           <p class="p-0 m-0">Special for you</p>
       </div>

   </li>

   <li class="d-flex align-items-center">
       <div>
           <i class="fa-solid fa-truck p-2"></i>
       </div>
       <div>
           <p class="p-0 m-0">Free Shipping</p>
           <p class="p-0 m-0">Special for you</p>
       </div>

   </li>
</ul>