<div class="bg-black text-light p-5">
    <div class="Container d-flex justify-content-between flex-wrap p-1">
        <ul>
            <li class="mb-4" style="font-size: 25px ; font-weight: bold;">Company info</li>
            <li class="mb-3">Temu - Team Up, Price Down!</li>
            <li class="mb-3">Affiliate & Influencer: Earn Commission</li>
            <li class="mb-3"> Careers</li>
            <li class="mb-3">Press</li>
            <li class="mb-3"> Corporate Responsibility</li>
            <li class="mb-3">Temu's Tree Planting Program</li>
        </ul>


        <ul>
            <li class="mb-4" style="font-size: 25px ; font-weight: bold;"> Customer service</li>
            <li class="mb-3">Return and refund policy</li>
            <li class="mb-3">Intellectual property policy</li>
            <li class="mb-3">Shipping info</li>
            <li class="mb-3">Report suspicious activity</li>
        </ul>



        <ul>
            <li class="mb-4" style="font-size: 25px ; font-weight: bold;">Help</li>
            <li class="mb-3">Support center & FAQ</li>
            <li class="mb-3">Safety center</li>
            <li class="mb-3">Temu purchase protection</li>
            <li class="mb-3">Sitemap</li>
            <li class="mb-3">Partner with Temu</li>
        </ul>
        <ul>
            <li class="mb-3" style="font-size: 25px ; font-weight: bold;"><img
                    src="assets/imges/c19eefdc-4dfd-4106-8074-ed8521cacb6e.png.slim.webp" altt="" />Track
                Orders Any Time</li>
            <li class="mb-3"><img src="assets/imges/ab4a5d92-4b54-45f6-b18a-fbb16529d2b3.png.slim.webp" altt="" />low
                stock
                Items Alearts</li>
            <li class="mb-3"><img src="assets/imges/98996646-47c5-4020-ab1f-8e6b2ee39358.png.slim.webp" altt="" />Faster
                More Scure</li>


            <li class="d-flex align-items-center justify-content-around mt-2"
                style="border:1px solid white ; border-radius:40px ; padding:10px">
                <img style="width: 40px;" src="assets/imges/5c5f0a0f-db6f-4205-a0d3-c745b6c672ea.png.slim.webp" />
                <div>
                    <p style="margin:0">Download On The</p>
                    <h6>App Store</h6>
                </div>
            </li>
            <li class="d-flex align-items-center justify-content-around mt-2"
                style="border:1px solid white ; border-radius:40px ; padding:10px">
                <img style="width: 40px;" src="assets/imges/427c29ba-bef6-439c-9d4c-edbdde47c7e0.png.slim.webp" />
                <div>
                    <p style="margin:0">Get I t oN</p>
                    <h6 style="margin:0">Google Play</h6>
                </div>
            </li>

        </ul>


        <ul>
            <li style="font-size: 25px ; font-weight: bold;">Contact With Tume</li>
            <div>
                <div>
                    <i class="fa-brands fa-tiktok fs-1 p-3"></i>
                    <i class="fa-brands fa-facebook fs-1 p-3"></i>
                    <i class="fa-brands fa-youtube fs-1 p-3"></i>
                </div>

                <div>
                    <i class="fa-brands fa-instagram fs-1 p-3"></i>
                    <i class="fa-brands fa-square-google-plus fs-1 p-3"></i>
                    <i class="fa-solid fa-paper-plane fs-1 p-3"></i>
                </div>

            </div>
        </ul>
    </div>
  
        <div style="width:70%;margin: auto;" class=" p-4">
            <div class="d-flex justify-content-between justify-content-center flex-wrap imges_footer p-5">
                <div>
                    <h3>Security certification</h3>
                    <img style="height: 40px;margin-left: 5px;"
                        src="assets/imges/bcb8bf23-78c9-45ab-b480-f7020d1a5f66.png.slim.webp" />
                    <img style="height: 40px;margin-left: 5px;"
                        src="assets/imges/28a227c9-37e6-4a82-b23b-0ad7814feed1.png.slim.webp" />
                    <img style="height: 40px;margin-left: 5px;"
                        src="assets/imges/f1c00d04-7dde-4d4a-ae3d-b8aad2de8f96.png.slim.webp" />
                    <img style="height: 40px;margin-left: 5px;"
                        src="assets/imges/65e96f45-9ff5-435a-afbf-0785934809ef.png.slim.webp" />
                    <img style="height: 40px;margin-left: 5px;"
                        src="assets/imges/52656b9f-5cb7-416f-8e12-f8cb39d3b734.png.slim.webp" />
                </div>
                <div>
                    <h3>We accept</h3>
                    <img style="height: 40px;margin-left: 5px;"
                        src="assets/imges/ec0c5d69-1717-4571-a193-9950ec73c8af.png.slim.webp" />
                    <img style="height: 40px;margin-left: 5px;"
                        src="assets/imges/da7f463a-916f-4d91-bcbb-047317a1c35e.png.slim.webp" />
                    <img style="height: 40px;margin-left: 5px;"
                        src="assets/imges/b79a2dc3-b089-4cf8-a907-015a25ca12f2.png.slim.webp" />
                    <img style="height: 40px;margin-left: 5px;"
                        src="assets/imges/936bf9dc-9bb2-4935-9c5a-a70b800d4cf1.png.slim.webp" />
                    <img style="height: 40px;margin-left: 5px;"
                        src="assets/imges/3f39097d-e751-4891-af08-41b63ebc876e.png.slim.webp" />
                    <img style="height: 40px;margin-left: 5px;"
                        src="assets/imges/fb599a1d-6d42-49f2-ba7a-64b16d01b226.png.slim.webp" />
                </div>
            </div>
      
    </div>

    <div class="d-flex justify-content-center flex-wrap">
        <p style="color: rgb(121, 118, 118); padding:10px"> © 2024 WhaleCo Inc.</p>
        <p style="color: rgb(121, 118, 118); padding:10px">Terms of use</p>
        <p style="color: rgb(121, 118, 118); padding:10px">Privacy policy</p>
        <p style="color: rgb(121, 118, 118); padding:10px">Your privacy choices</p>
        <p style="color: rgb(121, 118, 118); padding:10px">Your privacy choices</p>
        <p style="color: rgb(121, 118, 118); padding:10px">Ad Choices</p>
        <p style="color: rgb(121, 118, 118); padding:10px">Imprint</p>
       
    </div>
</div>