<div>
    <div class="main_product">
        <div class="row overflow-hidden">
            <div class="col__1 marginTop" [ngClass]="{'Show': storageArrayLength?.length <= 0}">
                <app-header></app-header>
                <img class="w-100 bg-warning" src="assets/imges/b3ce0e1c-6b21-4243-9e57-637e6838a540.webp" alt="" />
                <div class="Container">
                    <app-header-home></app-header-home>

                    <div>
                        <img class="mt-2 d-block text-center mx-auto" style="width: 400px"
                            src='assets/imges/a46b4cb8-c9e5-4ed9-80da-6c1cc37a4d44.webp' />
                        <h1 style="font-weight: bolder;margin:auto;text-align:center">Explore Your Interests</h1>
                    </div>

                    <div class="category_product mt-4">
                        <ul class="d-flex justify-content-center">
                            <li class="ms-3 p-2 rounded-5 fw-bold"><span>{{'Home.clothingWomens' | translate}}</span> <span></span></li>
                            <li class="ms-3 p-2 rounded-5 fw-bold"><span>{{'Home.AcceroiesMopile' | translate}}</span> <span></span></li>
                            <li class="ms-3 p-2 rounded-5 fw-bold"><span>{{'Home.clothingchildren' | translate}}</span> <span></span></li>
                            <li class="ms-3 p-2 rounded-5 fw-bold"><span>{{'Home.party-supplies' | translate}}</span> <span></span></li>
                            <li [routerLink]="['/category/Fashion']"  class="ms-3 p-2 rounded-5 fw-bold"><span>{{'Home.Fashion' | translate}}</span> <span></span></li>
                            <li class="ms-3 p-2 rounded-5 fw-bold"><span>{{'Home.Kids' | translate}}</span> <span></span></li>
                            <li class="ms-3 p-2 rounded-5 fw-bold"><span>{{'Home.Beauty' | translate}}</span> <span></span></li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xl-12 bg-md-danger">
                            <div class="row">
                                <div *ngFor="let item of dataHome" class=" col-6 col-sm-6 col-md-4 col-xl-2">
                                    <div class="item_card  w-100 mt-2">
                                        <div class="p-sm-0 p-md-2  p-xl-2">
                                            <ng-container *ngIf="item.video; else showImage">
                                                <video class="w-100 " src="assets/videos/{{item.video}}" muted autoplay
                                                    [routerLink]="['detailsproducr', item.id]"></video>
                                            </ng-container>
                                            <ng-template #defaultVideo>
                                                <video class="w-100" src="assets/videos/default-video.mp4" muted
                                                    autoplay [routerLink]="['detailsproducr', item.id]">
                                                </video>
                                            </ng-template>

                                            <ng-template #showImage>
                                                <img class="w-100 img_card" src="assets/imges/{{item.img1}}" alt="Image"
                                                    [routerLink]="['detailsproducr', item.id]" />
                                            </ng-template>

                                            <div class="d-flex justify-content-around  mt-4 titlt__shoping">
                                                <p>{{item.salary}}</p>
                                                <p class="discount text-success fw-bold">45%</p>
                                                <i class="fa-solid fa-bag-shopping  ps-3 pe-3 pt-1"
                                                    (click)="dialog.open(item.id)"></i>
                                            </div>

                                            <div class="desc_product_deatils">
                                                <p>Bell Decor Embossed Newboy....</p>
                                                <p><span>£1.41</span> 5.5+ solid</p>
                                                <p>Only 11 left</p>
                                                <div>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star-half-stroke"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <app-footer></app-footer>
            </div>

            <div class="content_shopping_cart bg-light  overflow-hidden p-0 col__2"
                [ngClass]="{'Hide': storageArrayLength?.length <= 0}">
                <div class=" d-sm-none d-md-none d-xl-block" [ngClass]="{'Hide': storageArrayLength?.length <= 0}">
                    <app-supscrption></app-supscrption>

                </div>
                <div>
                    <app-sup-total></app-sup-total>
                </div>
            </div>


        </div>
    </div>
</div>





<div class="position-fixed position-fixed">
    <app-dilog-product-home #dialog></app-dilog-product-home>
</div>